{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4">
                <div class="col-12 home-header">
                    <h1 class="page-header text-center">Grandpa's Pocket Watch Shop</h1>
                </div>
                <hr class="blue-divider" />
            </div>
            <div class="row pb-5">
                <div class="col-12">
                    <h3 class="text-center mt-4">Choose a Category</h3>
                </div>
            </div>
            <!-- Category icons with hover overlay affect only for medium screens and larger-->
            <div class="row">
                <!-- Display for medium to larger screens-->
                <div class="col-md-6 col-lg-6 col-xl-3 index-margin-bottom home-images d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
                     <a class="product-hover" href="{% url 'products' %}?category=ej_swiss,elgan,rf_cowderoy_london">
                        <img src="{% static 'images/watches.png' %}" alt="Pocket Watch Illustration" class="img-fluid image-cards" />
                    </a>
                    <div class="hover-overlay-text mt-4 pt-3 icon-margin-bottom">
                        <a href="{% url 'products' %}?category=ej_swiss,elgan,rf_cowderoy_london">
                            WATCHES&nbsp;&nbsp;<i class="far fa-clock"></i>
                        </a>
                    </div>
                </div>
                <!-- Display for smaller screens-->
                <div class="col-12 d-block d-sm-none d-none d-sm-block d-md-none">
                    <div>
                        <div class="hover-overlay-text text-center">
                            <a href="{% url 'products' %}?category=ej_swiss,elgan,rf_cowderoy_london">
                                WATCHES&nbsp;&nbsp;<i class="far fa-clock"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Display for medium to larger screens-->
                <div class="col-md-6 col-lg-6 col-xl-3 index-margin-bottom home-images d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
                    <a class="product-hover" href="{% url 'products' %}?category=balance_arms, balance_wheels,barrel_bridges,barrel_drums,bench_keys,bows,cases,chains,dials,fusee_cones,pillar_plates,springs,t-bars,wheels">
                        <img src="{% static 'images/parts.png' %}" alt="Parts Illustration" class="img-fluid image-cards" />
                    </a>
                    <div class="hover-overlay-text mt-4 pt-3 icon-margin-bottom">
                        <a href="{% url 'products' %}?category=balance_arms, balance_wheels,barrel_bridges,barrel_drums,bench_keys,bows,cases,chains,dials,fusee_cones,pillar_plates,springs,t-bars,wheels">
                            &nbsp;&nbsp;&nbsp;&nbsp;PARTS&nbsp;&nbsp;&nbsp;<i class="fas fa-cogs"></i>
                        </a>
                    </div>
                </div>
                <!-- Display for smaller screens-->
                <div class="col-12 d-block d-sm-none d-none d-sm-block d-md-none mt-5">
                    <div>
                        <div class="hover-overlay-text text-center">
                            <a class="category" href="{% url 'products' %}?category=balance_arms, balance_wheels,barrel_bridges,barrel_drums,bench_keys,bows,cases,chains,dials,fusee_cones,pillar_plates,springs,t-bars,wheels">
                                &nbsp;&nbsp;&nbsp;&nbsp;PARTS&nbsp;&nbsp;&nbsp;<i class="fas fa-cogs"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Display for medium to larger screens-->
                <div class="col-md-6 col-lg-6 col-xl-3 index-margin-bottom home-images d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
                    <a class="product-hover" href="{% url 'products' %}?category=anvils,bench_blocks,calipers,hammers,parts_trays,pliers,screwdrivers,soldering_tools">
                        <img src="{% static 'images/tools.png' %}" alt="Tools Illustration" class="img-fluid image-cards" />
                    </a>
                    <div>
                        <div class="hover-overlay-text mt-4 pt-3">
                            <a href="{% url 'products' %}?category=anvils,bench_blocks,calipers,hammers,parts_trays,pliers,screwdrivers,soldering_tools">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOOLS&nbsp;&nbsp;&nbsp;<i class="fas fa-screwdriver"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Display for smaller screens-->
                <div class="col-12 d-block d-sm-none d-none d-sm-block d-md-none mt-5">
                    <div>
                        <div class="hover-overlay-text text-center">
                            <a href="{% url 'products' %}?category=anvils,bench_blocks,calipers,hammers,parts_trays,pliers,screwdrivers,soldering_tools">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOOLS&nbsp;&nbsp;&nbsp;<i class="fas fa-screwdriver"></i>
                            </a>
                        </div>
                    </div>
                </div>
                  <!-- Display for medium to larger screens-->
                <div class="col-md-6 col-lg-6 col-xl-3 index-margin-bottom home-images d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
                    <a class="product-hover" href="{% url 'services' %}">
                        <img src="{% static 'images/services.png' %}" alt="Services Illustration" class="img-fluid image-cards" />
                    </a>
                    <div class="hover-overlay-text mt-4 pt-3">
                        <a href="{% url 'services' %}">
                            SERVICES&nbsp;&nbsp;<i class="fas fa-tools" id="fa-tools-white"></i>
                        </a>
                    </div>
                </div>
                <!-- Display for smaller screens-->
                <div class="col-12 d-block d-sm-none d-none d-sm-block d-md-none mt-5">
                    <div>
                        <div class="hover-overlay-text text-center">
                            <a href="{% url 'services' %}">
                                SERVICES&nbsp;&nbsp;<i class="fas fa-tools" id="fa-tools-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 




