{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="wrap">
    <div class="row mb-5">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">Checkout</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <!-- Order summary obtained -->
            <div class="row">
                {% if basket_items %}
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <p>
                        <span style="font-weight: bold;"><u>Order Summary ({{ product_count }})</u></span>
                    </p>
                    <table class="table product-body text-muted">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><span style="font-weight: bold;">Product Name</span></th>
                                <th scope="col"><span style="font-weight: bold;">Item Price</span></th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        {% if item.product.image %}
                                        <img class="card-img-top img-fluid" id="image-cards" style="width: 10rem;" src="{{ item.product.image.url }}" alt="{{ product.name }}" />
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                                        {% endif %}
                                    </a>
                                </th>
                                <th scope="row">
                                    <p class="mb-1">{{ item.product.name }}</p>
                                    <p><span style="font-size: 0.7rem;">SKU:&nbsp;{{ item.product.sku }}</span></p>
                                </th>
                                <th>
                                    <p class="mb-1">£{{ item.product.price }}</p>
                                </th>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <!--Table bottom divider-->
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <table class="table checkout-body">
                        <p>
                            <span style="font-weight: bold;"><u>Order Grand Total</u></span>
                        </p>
                        <thead>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">ITEM(S) TOTAL:</span></th>
                                <th scope="col"><span style="font-weight: bold;">£{{ total|floatformat:2 }}</span></th>
                            </tr>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">DELIVERY:</span></th>
                                <th scope="col"><span style="font-weight: bold;">£{{ delivery|floatformat:2 }}</span></th>
                            </tr>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">GRAND TOTAL:</span></th>
                                <th scope="col"><span style="font-weight: bold;">£{{ grand_total|floatformat:2 }}</span></th>
                            </tr>
                        </thead>
                    </table>
                    <p>
                        <span style="font-weight: bold;"><u>Please fill out the form below to complete your order</u></span>
                    </p>
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-2">
                            <legend class="fieldset-label small text-black px-2 w-auto"><span style="font-weight: bold;">Details</span></legend>
                            {{ order_form.full_name | as_crispy_field }} {{ order_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-2">
                            <legend class="fieldset-label small text-black px-2 w-auto"><span style="font-weight: bold;">Delivery</span></legend>
                            {{ order_form.phone_number | as_crispy_field }} {{ order_form.street_address1 | as_crispy_field }} {{ order_form.street_address2 | as_crispy_field }} {{ order_form.town_or_city | as_crispy_field }}
                            {{order_form.county | as_crispy_field }} {{ order_form.country | as_crispy_field }} {{ order_form.postcode | as_crispy_field }}
                            <div class="form-check form-check-inline float-right mr-0 pt-2">
                                {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked />
                                {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto pt-2"><span style="font-weight: bold;">Payment</span></legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret" />
                        </fieldset>
                        <div>
                            <div class="col-md-12 col-lg-8">
                                <button id="submit-button" class="col-12 btn btn-black rounded-0 w-100 mt-2">
                                    <span class="font-weight-bold">Complete Order</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="col-12 pt-3">
                                <a href="{% url 'view_basket' %}" class="keep-shopping pl-0">Adjust Basket</a>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--Loading spinner for when payment is processing-->
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Render javascript to allow for external file access-->
{{ stripe_public_key|json_script:"id_stripe_public_key" }} {{ client_secret|json_script:"id_client_secret" }}
<!-- Stripe -->
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
