{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">Thank You</h1>
                    <h1 class="page-header text-center">Your Order Has Been Placed</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
                <div class="col-sm-12 col-md-9 col-lg-9 order-body pl-4 pr-4 pt-4 pb-4">
                    <div class="row">
                        <div class="col">
                            <p class="text-muted small mb-2"><u>Order Info:</u></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted">{{ order.date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-muted small mb-2"><u>Order Details:</u></p>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row mb-3">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">{{ item.product.name }}</p>
                            <p class="mb-4 small">{{ item.product.description }}</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted">€{{ item.product.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <p class="text-muted small mb-2"><u>Delivering To:</u></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right mb text-muted mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    <!---If no Sddress 2. Remove-->
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Town/ City</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    <!---If no County. Remove-->
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">County</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!---If no Postcode. Remove-->
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Country</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right mb-4 text-muted mb-4">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-muted small mb-2"><u>Billing Info:</u></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Delivery Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right text-muted mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-md-right mb-2 text-muted">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="col-12 col-lg-7 text-right">
              {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
                </div>
              <div class="row mt-3">
                        <a class="keep-shopping" href="{% url 'products' %}">Keep Shopping</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% endblock %}

