/*-----Max height for order and appointment window-----*/
.order-history {
    max-height: 208px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: rgb(0,0,0,1);
}

#profile-update-form input::placeholder {
    color: rgb(170, 186, 196, 1);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color:rgb(0,0,0,1);
}

#id_default_country option:first-child {
    color: rgb(170, 186, 196, 1);
}