{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">Shopping Basket</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                {% if basket_items %}
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <table class="table product-body text-muted">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><span style="font-weight: bold;">Product Name</span></th>
                                <th scope="col"><span style="font-weight: bold;">Item Price</span></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <img class="card-img-top img-fluid" id="image-cards" style="width: 10rem;" src="{{ item.product.image.url }}" alt="{{ product.name }}" />
                                </th>
                                <th scope="row">
                                    <p class="mb-1">{{ item.product.name }}</p>
                                    <p><span style="font-size: 0.7rem;">SKU:&nbsp;{{ item.product.sku }}</span></p>
                                </th>
                                <th>
                                    <p class="mb-1">${{ item.product.price }}</p>
                                </th>
                                <th class="mt-0 pt-0">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input
                                                    class="form-control form-control-sm qty_input"
                                                    type="hidden"
                                                    name="quantity"
                                                    value="{{ item.quantity }}"
                                                    min="1"
                                                    max="1"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><i class="fas fa-trash-alt fas-sm"></i></a>
                                </th>
                            </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <table class="table checkout-body">
                        <thead>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">ITEM(S) TOTAL:</span></th>
                                <th scope="col"><span style="font-weight: bold;">€{{ total|floatformat:2 }}</span></th>
                            </tr>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">DELIVERY:</span></th>
                                <th scope="col"><span style="font-weight: bold;">€{{ delivery|floatformat:2 }}</span></th>
                            </tr>
                            <tr>
                                <th scope="col"><span style="font-weight: bold;">GRAND TOTAL:</span></th>
                                <th scope="col"><span style="font-weight: bold;">€{{ grand_total|floatformat:2 }}</span></th>
                            </tr>
                        </thead>
                    </table>

                    <div class="col-12 pl-4 pr-4 pb-4">
                        <div class="row mt-4">
                            <div class="col-12 text-left pl-0">
                                <a href="{% url 'checkout' %}" class="btn btn-black btn-lg mb-4 pr-5 pl-5" role="button" aria-disabled="true">CHECKOUT</a>
                            </div>
                            <div class="col-12 ml-0 pl-0">
                                <a class="keep-shopping" href="{% url 'products' %}">Keep Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div>
                    <p class="col">Your basket is empty.</p>
                </div>
                <div>
                    <a class="keep-shopping" href="{% url 'products' %}">Keep Shopping</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% endblock %}

{% block postloadjs %}
<!-- blcok.super used to ensure not to override toast messages -->
{{ block.super }}
<script type="text/javascript">
    // Update quantity on click
    $(".update-link").click(function (e) {
        let form = $(this).prev(".update-form");
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr("id").split('remove_')[1];
        let url = `remove/${itemId}/`;
        let data = { csrfmiddlewaretoken: csrfToken };

        $.post(url, data).done(function () {
            location.reload();
        });
    });
</script>
{% endblock %}
