@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap:100,200,300,400,500,600,700,800|Lato:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500,600,700');

/*-----BODY-----*/

html{
    color:rgb(0, 0, 0, 1);
}

body{
    position: relative;
    min-height:100vh;
}

.header-container{
    margin-top:16rem;
}

#footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:7rem;
}

#wrap{
    padding-bottom:7rem;
}

/*-----NAVIGATION BAR-----*/

#topnav{
    background-color: rgb(204, 204, 204, 1);
    color:rgb(0, 0, 0, 1);
}

.footernav{
    background-color: rgb(204, 204, 204, 1);
    color:rgb(0, 0, 0, 1);
}

#botnav{
    background-color: rgb(221, 221, 221, 1);
    color:rgb(0, 0, 0, 1);
}

.custom-nav-links a{
        color:rgb(0, 0, 0, 1) !important;
        font-size: 0.9rem;
        font-family: 'Berkshire Swash', cursive;
}

/*-----TEXT-----*/

.header-list-items{
    font-size: 0.9rem;
    padding-left:0rem;
    padding-right:0rem;
    font-family: 'Berkshire Swash', cursive;
}

.product-body p, th{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.product-card{
    padding-top: 2rem;
}

#basket-body{
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1)!important;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
    padding-bottom:3rem;
    padding-left:0rem;
    padding-right:0rem;
    border-radius: 1rem;
    max-width:60%;
}

.order-body{
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1)!important;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
    padding-bottom:3rem;
    padding-left:0rem;
    padding-right:0rem;
    font-weight:bold;
}

.page-header{
    font-family: 'Berkshire Swash', cursive;
}

#dropdown-font a{
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem;
}

/*-----MESSAGES-----*/

.toast-container{
    position:fixed;
    right:1.5rem;
    top:8rem;
    z-index: 99999999999;
}

.toast-success{
    border:0.2rem solid rgb(40, 167, 69, 1);
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1);
}

.toast-warning{
    border:0.2rem solid rgb(220, 53, 69, 1);
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1);
}

.toast-error{
    border:0.2rem solid rgb(255, 193, 7, 1);
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1);
}

.toast-info{
    border:0.2rem solid rgb(23, 162, 184, 1);
    font-family: 'Roboto', sans-serif;
    color: rgb(64, 64, 64, 1);
}

/*-----BLUE DIVIDER-----*/

.map-border {
	border: 0.2rem solid;
	color: rgb(111, 169, 255, 1);
}

.map {
	height: 40rem;
}

/*-----BLUE DIVIDER-----*/

.blue-divider{
    width:50%;
    border-top: 0.5rem solid rgb(111, 169, 255, 1);
    border-radius: 0.3rem;
}

/*-----IMAGES-----*/

#home-images{
    text-align: center;
}

#image-cards{
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
}

.image-hover:hover{
    opacity: 0.5;
}

/*-----PRODUCT/ IMAGE HOVER FEATURES-----*/

.product-hover:hover{
    opacity: 0.5;
}

.hover-overlay-text a{
    background-color: rgb(111, 169, 255, 1) !important;
    font-family: 'Roboto', sans-serif !important;
    color:rgb(255, 255, 255, 1) !important;
    font-weight:900 !important;
    font-size:1.2rem !important;
    padding:0.8rem 0.8rem 0.8rem 0.8rem !important;
    text-decoration:none;
}

/*-----HOVER OVERLAY FEATURE - INDEX.HTML-----*/

.hover-overlay {
  position: relative;
  width: 50%;
}

.hover-overlay-image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-overlay:hover .hover-overlay-image {
  opacity: 0.3;
}

.hover-overlay:hover .middle {
  opacity: 1;
}

/*-----HOVER/ACTIVE/FOCUS-----*/

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color:rgb(111, 169, 255, 1) !important;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color:rgb(111, 169, 255, 1) !important;
}

/*-----BLACK BUTTON LINK-----*/

.btn-black{
    color:rgb(255, 255, 255, 1);
    background-color:rgb(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif !important;
}

.btn-black:hover,
.btn-black:focus{   
    color:rgb(255, 255, 255, 1);
    background-color:rgb(0, 0, 0, 0.6) !important;
}

/*-----BLUE DEFAULT LINK-----*/

.btn-default{
    color:rgb(255, 255, 255, 1) !important;
    background-color:rgb(111, 169, 255, 1) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
    border:rgb(111, 169, 255, 1) !important;
    border-radius: 1rem !important;
}

.btn-default:hover,
.btn-default:focus{   
    color:rgb(255, 255, 255, 1) !important;
    background-color:rgb(111, 169, 255, 0.6) !important;
}

/*-----UPDATE/ REMOVE LINKS-----*/

.update_link,
.remove_item{
    cursor:pointer;
}

/*-----FORMS-----*/

select,
select option{
    color: rgb(0, 0, 0, 1);
}

select:invalid,
select option[value=""]{
    color: rgb(0, 0, 0, 0.6) !important;
}

/*-----Inputs-----*/

.product-body input{
    color: rgb(255, 255, 255, 1) !important;
    border-radius: 0rem;
}

.product-body label:not([for='id_remember']) {
    display: none;
}

.product-body input::placeholder {
    color: rgb(255, 255, 255, 1);
}

.product-body button,
.product-body input[type='submit'] {
	display: inline-block;
    color:rgb(255,255,255,1);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(0,0,0,1);
    border: 0.0625rem solid rgb(0,0,0,1);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    font-size:1rem;
    font-weight:bold;
}

.product-body button:hover,
.product-body input[type='submit']:hover {	
	color: rgb(0,0,0,0.6);
    background-color: rgb(0,0,0,0.6);
    border-color: rgb(0,0,0,0.6);
}

/*-----Allauth links-----*/

.allauth-button button{
    color:rgb(255, 255, 255, 1) !important;
    background:rgb(0,0,0,1) !important;
    font-weight:bold;
    font-size:1rem;
    font-family: 'Roboto', sans-serif !important;
    border:rgb(0,0,0,1) !important;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.allauth-button button:hover{
    background:rgb(0,0,0,0.6) !important;
}

.allauth-home{
    color: rgb(255, 255, 255, 1) !important;
    background:rgb(0,0,0,1) !important;
    font-weight:bold;
    font-family: 'Roboto', sans-serif !important;
    font-size:1rem;
}

.allauth-home:hover{
    background:rgb(0,0,0,0.6) !important;
}

/*-----KEEP SHOPPING LINK-----*/

.keep-shopping{
    color: rgb(0, 0, 0, 1);
    text-decoration: underline;
    font-weight:bold;
    font-family: 'Roboto', sans-serif !important;
    background:none !important;
}

.keep-shopping:hover{
    color:rgb(0, 0, 0, 0.6); !important;
    background:none;
}

/*-----FONT AWESOME ICONS-----*/

.fas{
    color:rgb(0, 0, 0, 1);
}

.fa-check-circle{
    color:rgb(102, 204, 0, 1);
}

.fa-lock,
.fa-search{
    color:rgb(255, 255, 255, 1);
}

.fa-tools:hover,
.fa-user:hover,
.fa-shopping-basket:hover{
    color:rgb(111, 169, 255, 1) !important;
}

/*-----FOOTER-----*/

#footer-copyright p{
    margin-bottom:0rem !important;
	text-align: center;
	font-size: 0.8rem;
	font-family: 'Roboto', sans-serif;
    margin-top:1rem;
}

/*-----MEDIA QUERIES-----*/

/*-----Reduce font size for header-list-items so that they are positioned smarter on smaller devices-----*/
@media (min-width: 1000px) {
    .header-list-items{
        font-size: 1.4rem;
        padding-left:1rem;
        padding-right:1rem;
    }
}

/*-----Reduce font size for nav-links so that they are positioned smarter on smaller devices-----*/
@media (min-width: 1000px) {
    .custom-nav-links a{
        font-size: 1.3rem;
        padding-left:1rem;
        padding-right:1rem;
    }
}

/*-----Align footer centre for smaller devices. Push to right on larger devices. For a smarter look.-----*/
@media (min-width: 767px) {
    #footer-copyright p{
	    text-align: right !important;
        margin-top:0rem;
    }
}

/*-----Top margin increase for producct detail text to create space between text and image on smaller devices -----*/
@media (min-width: 767px) {
.product-card{
    padding-top: 0rem;
    }
}

/*-----Increase height for footer for smaller devices to fit better on smaller devices at bpttom  -----*/
@media (min-width: 767px) {
#footer{
    height:5rem;
}

/*-----Increase height for footer for smaller devices to fit better on smaller devices at bpttom  -----*/
@media (min-width: 767px) {
#wrap{
    padding-bottom:5rem;
}