@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap:100,200,300,400,500,600,700,800|Lato:wght@100&display=swap:100,200,300,400,500,600,700,800');



html {
    height: 100%;
}

body{
    height: calc(100vh);
    font-family: 'Berkshire Swash', cursive;
    color:rgb(0, 0, 0, 1);
}

#topnav{
    background-color: rgb(204, 204, 204, 1);
    color:rgb(0, 0, 0, 1);
}

.fas{
    color:rgb(0, 0, 0, 1);
}

.text-black{
    color:rgb(0, 0, 0, 1);
}

.header-list-items{
    font-size: 1.2rem;
}


/*
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
*/