<div id="footer" class="container-fluid custom-nav-links footernav">
    <div class="row py-3">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-3">
                    <a class="nav-link" href="{% url 'view_basket' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                            </div>
                    </a>
                </div>
                <div class="col-5">
                    <a class="nav-item nav-link" href="{% url 'about' %}">About Us</a>
                </div>
                <div class="col-4">
                    <a class="nav-item nav-link" href="{% url 'contact' %}">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 my-auto">
            <div class="row">
                <div id="footer-copyright" class="col-12 pr-2">
                    <p>Copyright <i class="far fa-copyright"></i> 2020 Murray Bealby. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>