<div id="topnav" class="container-fluid custom-nav-links">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-4">
                    <a class="nav-item nav-link" href="#">View Basket</a>
                </div>
                <div class="col-4">
                    <a class="nav-item nav-link" href="#">About</a>
                </div>
                <div class="col-4">
                    <a class="nav-item nav-link" href="#">View Basket</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p>Copyright <i class="far fa-copyright"></i> 2020 Murray Bealby. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>