<div id="topnav" class="container-fluid custom-nav-links d-flex flex-column sticky-footer-wrapper">
    <div class="row py-3">
        <div class="col-sm-12 col-md-3 text-center">
            <div class="row">
                <div class="col-4">
                    <a class="nav-item nav-link" href="#">About</a>
                </div>
                <div class="col-4">
                    <a class="nav-item nav-link" href="{% url 'contact' %}">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 my-auto">
            <div class="row">
                <div id="footer-copyright" class="col-12">
                    <p>Copyright <i class="far fa-copyright"></i> 2020 Murray Bealby. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>