<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="all-products-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pocket-watches-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pocket Watches
            </a>
            <div class="dropdown-menu" aria-labelledby="pocket-watches-link">
                <a class="dropdown-item" href="#">All Poclet Watches</a>
                <a class="dropdown-item" href="#">E.J. Swiss</a>
                <a class="dropdown-item" href="#">Elgan</a>
                <a class="dropdown-item" href="#">R.F.Cowderoy London</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="parts-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Parts
            </a>
            <div class="dropdown-menu" aria-labelledby="parts-link">
                <a class="dropdown-item" href="#">All Parts</a>
                <a class="dropdown-item" href="#">Anvils</a>
                <a class="dropdown-item" href="#">Bench Blocks</a>
                <a class="dropdown-item" href="#">Calipers</a>
                <a class="dropdown-item" href="#">Hammers</a>
                <a class="dropdown-item" href="#">Parts Trays</a>
                <a class="dropdown-item" href="#">Pliers</a>
                <a class="dropdown-item" href="#">Screwdrivers</a>
                <a class="dropdown-item" href="#">Soldering</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tools-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="tools-link">
                <a class="dropdown-item" href="#">All Tools</a>
                <a class="dropdown-item" href="#">Balance Arms</a>
                <a class="dropdown-item" href="#">Balance Wheels</a>
                <a class="dropdown-item" href="#">Barrel Bridges</a>
                <a class="dropdown-item" href="#">Barrel Drums</a>
                <a class="dropdown-item" href="#">Bench Keys</a>
                <a class="dropdown-item" href="#">Bows</a>
                <a class="dropdown-item" href="#">Cases</a>
                <a class="dropdown-item" href="#">Chains</a>
                <a class="dropdown-item" href="#">Dials</a>
                <a class="dropdown-item" href="#">Fusee Cones</a>
                <a class="dropdown-item" href="#">Pillar Plates</a>
                <a class="dropdown-item" href="#">Springs</a>
                <a class="dropdown-item" href="#">T-Bars</a>
                <a class="dropdown-item" href="#">Wheels</a>
            </div>
        </li>
    </ul>
</div>