<div class="collapse navbar-collapse custom-nav-links" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item pl-4 pr-4">
            <a class="nav-link" href="{% url 'products' %}" id="all-products-link" >
                All Products
            </a>
        </li>
        <li class="nav-item dropdown pl-4 pr-4">
            <a class="nav-link dropdown-toggle" href="#" id="pocket-watches-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pocket Watches
            </a>
            <div class="dropdown-menu" aria-labelledby="pocket-watches-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=ej_swiss,elgan,rf_cowderoy_london">All Pocket Watches</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=ej_swiss">E. J. Swiss</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=elgan">Elgan</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=rf_cowderoy_london">R. F. Cowderoy London</a>
            </div>
        </li>
        <li class="nav-item dropdown pl-4 pr-4">
            <a class="nav-link dropdown-toggle" href="#" id="parts-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Parts
            </a>
            <div class="dropdown-menu" aria-labelledby="parts-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=balance_arms, balance_wheels,barrel_bridges,barrel_drums,bench_keys,bows,cases,chains,dials,fusee_cones,pillar_plates,springs,t-bars,wheels">All Parts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=balance_arms">Balance Arms</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=balance_wheels">Balance Wheels</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=barrel_bridges">Barrel Bridges</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=barrel_drums">Barrel Drums</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bench_keys">Bench Keys</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bows">Bows</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=cases">Cases</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=chains">Chains</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=dials">Dials</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fusee_cones">Fusee Cones</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=pillar_plates">Pillar Plates</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=springs">Springs</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=t-bars">T-Bars</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=wheels">Wheels</a>
            </div>
        </li>
        <li class="nav-item dropdown pl-4 pr-4">
            <a class="nav-link dropdown-toggle" href="#" id="tools-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="tools-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=anvils,bench_blocks,calipers,hammers,parts_trays,pliers,screwdrivers,soldering_tools">All Tools</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=anvils">Anvils</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bench_blocks">Bench Blocks</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=calipers">Calipers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=hammers">Hammers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=parts_trays">Parts Trays</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=pliers">Pliers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=screwdrivers">Screwdrivers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=soldering_tools">Soldering</a>
            </div>
        </li>
    </ul>
</div>