    {% load static %}
    
    <!-- header -->
    <div id="topnav" class="row">
            <div class="col-4 d-none d-sm-block d-md-none d-block d-sm-none my-auto py-3">
                <a href="{% url 'home' %}" class="nav-link nav-logo-link">
                    <img src="{% static 'images/logo_3.png' %}" alt="Grandpa's Pocket Watch Shop - Logo">
                </a>
            </div>

    <!-- LIST ITEMS -->
            <div class="col-8 d-none d-sm-block d-md-none d-block d-sm-none py-3 my-auto header-list-items">
                <ul class="list-inline list-unstyled text-right my-0">

    <!-- Services -->
                    <li class="list-inline-item mr-0">
                        <a class="text-black nav-link" href="{% url 'view_services' %}">
                            <div class="text-center">
                                <div><i class="fas fa-tools fa-2x"></i></div>
                            </div>
                        </a>
                    </li>
    

    <!-- Account Login -->
                    <li class="list-inline-item dropdown mr-0">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-2x"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

    <!-- Basket -->
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'view_basket' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-basket fa-2x"></i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
    </div>