{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">About</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <img src="{% static 'images/grandpa.png' %}" class="mb-5 grandpa-image"" alt="Jack Fairfield">
                </div>

                <div class="col-sm-12 text-center">
                <p>Jack Fairfield was born on the 27th July, 1915 in Windygates, Fife, Scotland. He was the eldest of four brothers; David, James, Frank and Norman; and sons of Edward and Ada Elizabeth née Webster.</p>
                    <p>He started working for Wemyss Coal Co. Ltd, East Wemyss in Fife in 1938, until he was transferred to their office at 116 Hope Street, Glasgow early 1939. </p>
                    <p>It was during this time, while studying to sit the Intermediate Examination of the Chartered Institute of Secretaries exams, to be held sometime in 1940, that he heard the news over the radio at 11 a.m. ‘that we were at war with Germany.’</p>
                    <p>On March 1940 he was ordered to appear for a medical examination at the Church Hall in Victoria Road, Kirkcaldy in Fife. On the 16th March he was formally sworn in and told he had been enrolled in the Royal Army Ordnance Corps (RAOC).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% endblock %}
