{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">About Us</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <img src="{% static 'images/grandpa.png' %}" class="mb-5 grandpa-image img-fluid" alt="Jack Fairfield" />
                </div>
                <div class="col-10 offset-1 about-text">
                    <p>In the early 1940s George and Margret opened up a shop that sold and repaired Pocket Watches.
                       Providing these services were an important, vital commodity for individuals during these
                       sparse war years.</p>
                    <p>Their wealth of knowledge have been passed through the generations along with an expansive
                       inventory of <strong>Pocket Watches</strong>, <strong>Parts</strong>, and <strong>Tools</strong>.</p>
                    <p>We at <strong>Grandpa's Pocket Watch Shop</strong> strive to carry on this Pocket Watch business,
                       where we not only sell, but also provide repair and advisory services for customers.</p>
                    <p>Welcome to our Website and enjoy the visit!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% endblock %}
