{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">About</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <img src="{% static 'images/grandpa.png' %}" class="mb-5 grandpa-image" alt="Jack Fairfield" />
                </div>

                <div class="col-sm-12 text-center">
                    <p>In the 1940s George and Margret opened up a shop that sold and repaired
                       Pocket Watches. An important, vital comodity for individuals during
                       this era.</p>
                    <p>Their wealth of knowledge have been passed through the genrations in this family run business
                       along with a expansive inventory of Pocket Watch tools and parts</p>
                    <p>We at <strong>Grandpa's Pocket Watch Shop</strong> strive to carry on this unique Pocket Watch
                       inductsy by repairing and advising customers, who want to have their Pocket Watch
                       earlooms or collection restored</p>
                    <p>We also have Pocket Watches to sell that have all different unique histories
                       behind them</p>
                    <p>Welcome to our Webosite and enjoy the journey!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% endblock %}
