{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">{% trans "Password Reset" %}</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="mx-auto product-body">
                    {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
