{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="text-center">The server encountered an error and could not complete your requestd</h6>
                    <a href="{% url 'home' %}" class="btn btn-default btn-lg mt-4 text-uppercase">HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
