{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">Contact</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div row="row">
                        <!-- Address information -->
                        <div class="col-12 text-center">
                            <img class="pb-2" src="{% static 'images/logo_3.png' %}" alt="Grandpa's Pocket Watch Shop - Logo" />
                        </div>
                        <div col="col-12">
                            <p class="mb-0 text-center">16 St Alban's Rd</p>
                            <p class="mb-0 text-center">Edinburgh</p>
                            <p class="mb-0 text-center">EH9 2LU</p>
                            <p class="mb-1 text-center">Scotland</p>
                            <p class="mb-0 text-center">
                                <span style="font-weight: bold;"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span>077 3986 6832
                            </p>
                            <p class="text-center mb-5">
                                <span style="font-weight: bold;"><i class="fas fa-envelope"></i>&nbsp;&nbsp;</span>grandpaspocketwatchshop@gmail.com
                            </p>
                        </div>
                        <!-- Google Maps displaying location of Shop along with info window of opening times  -->
                        <div col="col-12">
                            <div class="map map-border mx-auto" id="map"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <!-- Contact Form  -->
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 contact-form">
                            <h3 class="text-uppercase text-center font-weight-bold pb-4 d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">Get In Touch&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></h3>
                            <h4 class="text-uppercase text-center font-weight-bold pb-4 d-block d-sm-none d-none d-sm-block d-md-none">Get In Touch&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></h4>
                            <form method="post">
                                {% csrf_token %} {{ form|crispy }}
                                <div class="form-actions text-center">
                                    <button type="submit" class="btn-default text-uppercase font-weight-bold pl-4 pr-4 pt-2 pb-2">Send&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>
<!-- Map -->
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
