{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 mb-5">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                    <h1 class="page-header text-center">Products</h1>
                </div>
                <div class="col-12 text-center">
                    <!--Iterate through products and add category name under main heading-->
                    {% for c in current_categories %}
                        <a class="badge-icons text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                            <span class="p-2 mt-2 badge badge-pill badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <hr class="blue-divider" />
            </div>
            <div class="row">
                <!-- Iterate through and display products -->
                {% for product in products %}
                <div class="mb-5 pl-3 pr-3 col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto" id="home-images">
                    <div class="card border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid product-hover" id="image-cards" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% endif %}

                        <!-- Product Card Details -->
                        <div class="card-body text-left product-body text-muted mb-0">
                            <p class="mb-1">
                                <span style="font-weight: bold;">Name:</span>&nbsp;&nbsp;{{ product.name }}
                            </p>
                            <p><span style="font-weight: bold;">Cost:</span>&nbsp;&nbsp;£{{ product.price }}</p>
                            <p class="mb-0">
                                <span style="font-size: 0.8rem;">SKU:&nbsp;{{ product.sku }}</span>&nbsp;&nbsp;
                                <!-- Product information icon -->
                                <a class="btn info-btn btn-lg text-uppercase" href="{% url 'product_detail' product.id %}"><i class="fas fa-info"></i></a>
                            </p>
                        </div>

                        <!-- Product Add to Basket -->
                        <div class="col-12 mb-3">
                            <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row mb-5">
                                    <div class="input-group">
                                        <input class="form-control" type="hidden" name="quantity" value="1" min="1" max="1" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" />
                                    </div>
                                    <div class="col-12 mb-2">
                                        <input type="submit" class="btn btn-default btn-lg text-uppercase w-100" value="Add to Basket" />
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% endblock %}

