{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-10 offset-1">
        <div class="col-12">
            <h1 class="text-black text-center">
                Products
            </h1>
        </div>
            <div class="row">
                {% for product in products %}
                <div class="mb-5 pl-3 pr-3 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" style="width: 18rem;" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <div class="card-body text-left product-body">
                            <p>Name<p>
                            <p>{{ product.name }}</p>
                            <p>Cost</p>
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}