{% extends "base.html" %} {% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid footer-container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row pt-4 pb-5">
                <div class="col-12">
                         <h1 class="text-black text-center">Products</h1>
                </div>
                <hr class="blue-divider">
            </div>
            <div class="row">
                {% for product in products %}
                <div class="mb-5 pl-3 pr-3 col-sm-12 col-md-6 col-lg-4 col-xl-3" id="home-images">
                    <div class="card border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid product-hover" id="image-cards" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <div class="card-body text-left" id="product-body">
                            <p class="mb-1"><span style="font-weight: bold;">Name:</span>&nbsp;&nbsp;{{ product.name }}</p>
                            <p class="mb-1"><span style="font-weight: bold;">Cost:</span>&nbsp;&nbsp;€{{ product.price }}</p>
                            <p><span style="font-size: 0.8rem;">SKU:&nbsp;{{ product.sku }}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
