{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-10 offset-1">
            <div class="services-header-padding pt-4">
                <div class="col-12 service-header">
                    <h1 class="page-header text-center">Update an Appointment</h1>
                </div>
                <hr class="blue-divider" />
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 contact-form">
                            <form method="post">
                                {% csrf_token %} {{ form|crispy }}
                                <div class="form-actions text-center">
                                    <button type="submit" class="btn-default text-uppercase font-weight-bold pl-4 pr-4 pt-2 pb-2">Update Appointment&nbsp;&nbsp;<i class="fas fa-check-square"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block page_bottom %}
<div class="container bottom-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        $(".datepicker").keypress(function(event) {event.preventDefault();}).datetimepicker({
            locale: "pt-br",
            format: "YYYY-MM-DD",
            sideBySide: true,
        });
        $(".datepicker").data("DateTimePicker").minDate(moment().startOf("day").add(5, 'd'));
    });
</script>
{% endblock %}
